<h1><%= @sub.title %></h1>
<h5>By: <%= @sub.moderator.username %></h5>
<p><%= @sub.description %></p>

<nav>
  <ul>
    <li><%= link_to 'All Subs', subs_url %></li>
    <% if logged_in? && @sub.moderator_id == current_user.id %>
    <li><%= link_to 'Edit This Sub', edit_sub_url(params[:id]) %></li>
    <li><%= button_to 'Delete This Sub', sub_url(params[:id]), method: :delete %></li>
    <% end %>
  </ul>
</nav>
