<!--
local vars:
user
action
button_val
-->

<form action="<%= action %>" method="post">
  <%= auth_token %>

  <label for="">Username:
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>

  <label for="">Password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="<%= button_val %>">

  <%= render 'shared/errors' %>
</form>
