<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= current_user %>
    <ul>
      <% if logged_in? %>
      <li><%= current_user.username %></li>
      <li><%= button_to 'Log Out', session_url, method: :delete %></li>
      <% else %>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
